{% extends 'base.html' %}
{% block content %}
{% load bootstrap3 %}
     <section class="content-header">
      <h1>
        Confirmer un transfert entre filiales
      </h1>

    </section>
     <section class="content-header">
        <button id="add" class="btn btn-primary hidden" style="margin-right: 7px; margin-bottom: 2%" disabled>Confirmer</button>
     </section>
    <section class="content">
    <div class="box box">
    <div class="box-header">N° du Bon de Transfert entre filiale</div>
        <div class="box-body">
            <input id="n_bon" class="form-control" placeholder="N° du Bon" required>
            </div>
        </div>
    <div class="box">
        <div class="box-header">Liste des transfert non confirmés</div>
        <div class="box-body">
            <table id="tt" ></table>
            </div>
        </div>
    <div id="myModal" class="modal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Nombre de colis</h3>
                    </div>
                <div class="modal-body">
                    <div class="row" style="margin-top: 1%">
                        <div class="col-sm-6">
                            <label for="nombre_colis">Colis T° ambiante</label>
                            <input id="nombre_colis" class="form-control" type="number" required>
                            </div>
                        <div class="col-sm-6">
                            <label for="nombre_colis_frigo">Colis T° 2 à 8°C</label>
                            <input id="nombre_colis_frigo" class="form-control" type="number" required>
                            </div>
                    </div></div>
                <div class="modal-header">

                    <h3 class="modal-title">Exécutants de la transaction</h3>
                    </div>
                <div class="modal-body">
                    <div class="row" style="margin-top: 1%">
                        <div class="col-sm-3">
                            <input id="code-rh1" class="form-control" placeholder="Code RH 1">
                            </div>
                        <div class="col-sm-9">
                            <input id="executer1" class="form-control" placeholder="Exécutant 1" disabled>
                            </div>
                        </div>
                    <div class="row" style="margin-top: 1%">
                        <div class="col-sm-3">
                            <input id="code-rh2" class="form-control" placeholder="Code RH 1">
                            </div>
                        <div class="col-sm-9">
                            <input id="executer2" class="form-control" placeholder="Exécutant 2" disabled>
                            </div>
                        </div>
                    <div class="row" style="margin-top: 1%">
                        <div class="col-sm-3">
                            <input id="code-rh3" class="form-control" placeholder="Code RH 1">
                            </div>
                        <div class="col-sm-9">
                            <input id="executer3" class="form-control" placeholder="Exécutant 3" disabled>
                            </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="ajouter_executants" disabled>Valider</button>
                    <button class="btn btn-default" data-dismiss="modal" id="cancel_button">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
    $(document).ready(function () {
        $('#tt').datagrid({
            url:"/confirmer_transferts_entre_filiales/",
            method:'GET',
            fitColumns:true,
            singleSelect:true,
            columns:[[
            {field:'id',title:'ID',width:40},
            {field:'created_date',title:'Date de création',width:50, formatter:formatDate},
            {field:'depuis_filiale__filiale',title:'Depuis filiale',width:50},
            {field:'vers_filiale__filiale',title:'Vers filiale',width:50},
            {field:'nombre_colis',title:'Colis',width:30},
            {field:'nombre_colis_frigo',title:'Colis Frigo',width:30},
            {field:'statut_doc__statut',title:'Statut',width:50}
            ]]
            });
        function formatDate(value, row){
                var d = new Date(value);
                return $.fn.datebox.defaults.formatter(d);
            }
        $('#transferts_entre_filiales_menu').addClass('active');
        $('#confirmer_tef').addClass('active');
        function update_table() {
                $('input').val('')
                $('#code-rh1').prop('disabled',false)
                $('#code-rh2').prop('disabled',false)
                $('#code-rh3').prop('disabled',false)
                $('#n_bon').focus();
                $('#tt').datagrid('reload')
        }
        update_table();
        $('#n_bon').focus().keypress(function (e) {
                if (e.which == 13) {
                    var id_transfert = $('#n_bon').val();
                    $.post("/confirmer_transferts_entre_filiales/", {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        id_transaction: id_transfert,
                        action: 'check_id_transaction'
                    }).done(function (data) {
                        if (data == 'OK') {
                            $('#add').click();
                        }
                        else {
                            $.notify(data);
                            $('#n_bon').val('');
                        }
                    })
                }
            })
        $("#add").click(function () {
            $("#myModal").modal({backdrop: "static", keyboard: true});
            $('#nombre_colis').focus();
            function validate_nombre_colis() {
                $('#nombre_colis').keypress(function (e) {
                    if (e.which == 13) {
                        var nbr = $('#nombre_colis').val();
                        if (!nbr) {
                            $("#nombre_colis").notify('Nombre de colis obligatoire !')
                        }
                        else {
                            $('#nombre_colis').prop('disabled', true);
                            $('#nombre_colis_frigo').focus();
                        }
                    }})
                };
            function validate_nombre_colis_frigo() {
                $('#nombre_colis_frigo').keypress(function (e) {
                    if (e.which == 13) {
                        var nbr = $('#nombre_colis_frigo').val();
                        if (!nbr) {
                            $("#nombre_colis_frigo").notify('Nombre de colis obligatoire !')
                        }
                        else {
                            $('#nombre_colis_frigo').prop('disabled', true);
                            $('#code-rh1').focus();
                        }
                    }})
                };
            validate_nombre_colis();
            validate_nombre_colis_frigo();
            $('#code-rh1').keypress(function (e) {
                if (e.which == 13) {
                    var code_RH = $(this).val()
                    $.getJSON('/get_employee_name/',{'code_RH': code_RH},function (data) {
                        if (data.content[0] =='PAS OK'){
                            $('#code-rh1').notify(data.content[1],{
                                position: 'left',
                                className: 'error',
                                autoHideDelay: 1500,
                            });

                        }
                        if (data.content[0] =='OK'){
                            $('#executer1').val(data.content[1]);
                            $('#code-rh2').focus();
                            $('#code-rh1').prop('disabled',true)
                            }
                        if (data.content=='VIDE') {
                            $('#code-rh1').notify('Champ Obligatoire',{
                                position: 'left',
                                className: 'error',
                                autoHideDelay: 1500,
                            });
                        }
                    })
                }
            });
            $('#code-rh2').keypress(function (e) {
                if (e.which == 13) {
                    var code_RH = $(this).val()
                    $.getJSON('/get_employee_name/',{'code_RH': code_RH},function (data) {
                        if (data.content[0] =='PAS OK'){
                            $('#code-rh2').notify(data.content[1],{
                                position: 'left',
                                className: 'error',
                                autoHideDelay: 1500,
                            });

                        }
                        if (data.content[0] =='OK'){
                            $('#executer2').val(data.content[1]);
                            $('#code-rh3').focus();
                            $('#code-rh2').prop('disabled',true)
                        }
                        if (data.content=='VIDE') {
                            $('#code-rh3').focus()
                            $('#code-rh2').prop('disabled',true)
                        }
                    })
                }
            })
            $('#code-rh3').keypress(function (e) {
                if (e.which == 13) {
                    var code_RH = $(this).val()
                    $.getJSON('/get_employee_name/',{'code_RH': code_RH},function (data) {
                        if (data.content[0] =='PAS OK'){
                            $('#code-rh3').notify(data.content[1],{
                                position: 'left',
                                className: 'error',
                                autoHideDelay: 1500,
                            });
                        }
                        if (data.content[0] =='OK'){
                            $('#executer3').val(data.content[1]);
                            $('#code-rh3').prop('disabled',true).focus();
                            $('#ajouter_executants').prop('disabled',false)
                        }
                        if (data.content=='VIDE') {
                            $('#code-rh3').prop('disabled',true).focus();
                            $('#ajouter_executants').prop('disabled',false)
                        }
                    })
                }
            })
        })
        $('#ajouter_executants').click(function () {
            $(this).prop('disabled', true);
            var code1 = $('#code-rh1').val();
            var code2 = $('#code-rh2').val();
            var code3 = $('#code-rh3').val();
            var id_transaction = $('#n_bon').val();
            var nombre_colis = $('#nombre_colis').val();
            var nombre_colis_frigo = $('#nombre_colis_frigo').val();

            if (code1) {
                $.post("/confirmer_transferts_entre_filiales/", {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    code_RH1: code1,
                    code_RH2: code2,
                    code_RH3: code3,
                    id_transaction: id_transaction,
                    nombre_colis:nombre_colis,
                    nombre_colis_frigo:nombre_colis_frigo,
                    action: 'confirm_transaction'
                }).done(function (data) {
                    if (data == 'OK') {
                        $('#myModal').modal('hide');
                        update_table();
                        $.notify('Bon confirmé', {
                            className: 'success',
                            autoHideDelay: 2000
                        });
                    }
                    else {
                        alert(data)
                    }
                    $(this).prop('disabled', true)


                }


                )
            }

            else {
                $('#code-rh1').notify('Un exécutant au moins est obligatoire',{
                                position: 'left',
                                className: 'error',
                                autoHideDelay: 1500
                            });
                $('#code-rh1').focus()

                }
        });
    })

    </script>
{% endblock %}